@model EventSearch.Models.AddCalendarViewModel

@{
    ViewBag.Title = "GooleCalendarに登録";
}

<h2>イベント登録</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CommonEvent</legend>

        <table>
            <tr>
                <th>
                    @Html.LabelFor(model => model.Event.Title)
                </th>
                <td>
                    @Html.EditorFor(model => model.Event.Title)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.Event.StartedAt)
                </th>
                <td>
                    @Html.EditorFor(model => model.Event.StartedAt)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.Event.EndedAt)
                </th>
                <td>
                    @Html.EditorFor(model => model.Event.EndedAt)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.CalendarList)
                </th>
                <td>
                    @Html.DropDownListFor(model => model.CalendarId, Model.CalendarList.Select(x => new SelectListItem() { Value = x.Id, Text = x.Summary }))
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.Event.Description)
                </th>
                <td>
                    @Html.TextAreaFor(model => model.Event.Description, new { rows = "4" })
                </td>
            </tr>
        </table>

        <p>
            <input type="submit" value="登録" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
