@model EventSearch.Models.SearchModels
@{
    ViewBag.Title = "Home Page";
}
<h3>適当に検索してみて</h3>
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ログイン フォーム</legend>
        <div class="error-field">
            @Html.ValidationMessageFor(x => x.Keyword)
            @Html.ValidationMessageFor(x => x.Year)
            @Html.ValidationMessageFor(x => x.Month)
        </div>
        <div class="row">
            <div class="col-md-7">
                @Html.LabelFor(x => x.Keyword)
                @Html.TextBoxFor(x => x.Keyword)
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @Html.TextBoxFor(x => x.Year, new { @class = "text_year" })
                @Html.LabelFor(x => x.Year)
            </div>
            <div class="col-md-2">
                @Html.TextBoxFor(x => x.Month, new { @class = "text_month" })
                @Html.LabelFor(x => x.Month)
            </div>
        </div>
        <input class="btn col-md-offset-4" type="submit" value="検索" />
    </fieldset>
}
<div class="result">
    @foreach (var e in Model.Events)
    {
        <div class="row result-row">
            <div class="col-md-2">@e.StartedAt.Value.ToString("dd日 HH:mm")</div>
            <div class="col-md-7"><a href="@e.EventUrl">@e.Title</a></div>
            <div class="col-md-3">@e.Place</div>
        </div>
    }
</div>
