@model EventSearch.Models.SearchModels
@{
    ViewBag.Title = "Home Page";
}
<h3>適当に検索してみて</h3>
@using (Html.BeginForm("Index","Home",FormMethod.Get))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ログイン フォーム</legend>
        <ol>
            <li>
                @Html.LabelFor(x => x.Keyword)
                @Html.TextBoxFor(x => x.Keyword)
            </li>
            <li>
                @Html.LabelFor(x => x.Year)
                @Html.TextBoxFor(x => x.Year)
            </li>
            <li>
                @Html.LabelFor(x => x.Month)
                @Html.TextBoxFor(x => x.Month)
            </li>
        </ol>
        <input type="submit" value="検索" />
    </fieldset>
}

